<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=RowanPAdams.db.10155525.hostedresource.com; Initial Catalog=RowanPAdams; User ID=RowanPAdams; Password='Charlotte@419';" providerName="System.Data.SqlClient"
			xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	</connectionStrings>
	<appSettings>
		<add key="base" value="/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="apiUrl" value="http://www.RowanPAdams.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	</appSettings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
</configuration>